<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
</HEAD>
<BODY>
<form action="discussObjectId.shtml" method="get">
<TABLE cellSpacing=0 cellPadding=0 width="100%" align=center border=0>

  <TR height=28>
    <TD>当前位置: $!point</TD></TR>
    <TR height=22>
    <TD style="COLOR: #ffffff"><span>
	    	点对象搜索： 
	    	点：<input name="point" type="text" value="$!{param_point}"/>
	    	对象id：<input name="objectid" type="text" value="$!{param_objectid}"/>
	    	<input type="submit" value="查询"/>
	    	</span></TD></TR>
  <TR>
    <TD bgColor=#b1ceef height=1></TD></TR>
  <TR height=20>
    <TD background=images/shadow_bg.jpg></TD></TR></TABLE>
</form>
<span style="color: red;">$!{result}</span>
<TABLE cellSpacing=0 cellPadding=2 width="95%" align=center border=0>
  <TR>
    <TD height="50" style="COLOR: #880000">评论的点标题</TD>
    <TD height="50" style="COLOR: #660000">评论的标签</TD>
    <TD height="50" style="COLOR: #880000">点</TD>
    <TD height="50" style="COLOR: #880000">objectid</TD>
    <TD height="50" width="200" style="COLOR: #880000">数据操作</TD>
  </TR>
 #foreach($contentStat in $contentStats)
  <TR #if($velocityCount%2 == 0) style="background:#F0E100;" #else style="background:#F0FFEE;" #end>
    <TD height="50" style="COLOR: #880000"><a href="discuss_$!{contentStat[1].pointer.point}.shtml?objectid=$!{contentStat[1].pointer.objectId}">$!contentStat[0]</a></TD>
    <TD height="50" style="COLOR: #220000">$!contentStat[1].tags</TD>
    <TD height="50" style="COLOR: #880000">$!contentStat[1].pointer.point</TD>
    <TD height="50" style="COLOR: #660000">$!contentStat[1].pointer.objectId</TD>
    <TD height="50" style="COLOR: #660000"><a href="/d/$!{contentStat[1].pointer.point}/$!{contentStat[1].pointer.objectId}">删除该点对应对象的评论数据</a></TD>
  </TR>
 
  #end
 </TABLE>
总共$!count条记录
$!pages
</BODY></HTML>