<!-- <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
 	http://maven.apache.org/xsd/settings-1.0.0.xsd"> -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0
	settings-1.1.0.xsd">
 	<!-- 需要拷贝到.m2目录下 -->
 	<!-- 多项目隔离仓库方式，避免冲突,尽量少用 -->
 	<!-- <localRepository>c:/mavenRepo/${env.GERRIT_BRANCH}-${env.GERRIT_TOPIC}</localRepository> -->
	<localRepository>c:/mavenRepo</localRepository> 
	<!--      <interactiveMode /> 
	     <usePluginRegistry /> 
	     <offline/> 
	     <pluginGroups /> 
	-->
	<servers>
		<server>
			<id>nexus-docker-auth</id>
			<username>admin</username>
			<password>admin123</password>
			<configuration>
		      <email>luchuangye@meizu.com</email>
		    </configuration>
		</server>
		<server>
			<id>nexus-snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>nexus-releases</id>
			<username>admin</username>
			<password>admin123</password>
			<!-- <privateKey>${user.home}/.ssh/id_dsa</privateKey>
		    <passphrase>slei23llsljdlsdf</passphrase>
		    <filePermissions>664</filePermissions>
		    <directoryPermissions>775</directoryPermissions>
		    <configuration>
		    	<sshExecutable>plink</sshExecutable>
	        	<scpExecutable>pscp</scpExecutable>
	        	<sshArgs>other arguments you may need</sshArgs>
	        </configuration> -->
		</server>
	    <server>
	        <id>simplify-doc</id>
	        <username>root</username>
	        <password>mzros123</password>
	        <!-- <privateKey>${user.home}/.ssh/id_dsa</privateKey>
		    <passphrase>some_passphrase</passphrase>
		    <filePermissions>664</filePermissions>
		    <directoryPermissions>775</directoryPermissions>
		    <configuration>
		    	<sshExecutable>plink</sshExecutable>
	        	<scpExecutable>pscp</scpExecutable>
	        	<sshArgs>other arguments you may need</sshArgs>
	        </configuration> -->
	    </server>
	</servers>
	<mirrors>
		<mirror>
			<id>nexus</id>
			<name>nexus</name>
			<url>http://10.2.67.20:8081/nexus/content/groups/public/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<!-- <activation>
				<activeByDefault>true</activeByDefault>
				<jdk>1.8</jdk>
			</activation> -->
			<id>dev</id>
			<!-- <properties><settings></settings></properties> -->
			<repositories>
				<repository>
					<id>nexus</id>
	  				<name>internal nexus repository</name>
	  				<url>http://10.2.67.20:8081/nexus/content/groups/public</url>
					<snapshots>
						<enabled>true</enabled>
						<checksumPolicy>warn</checksumPolicy>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>nexus</id>
			  		<name>internal nexus repository</name>
			  		<url>http://10.2.67.20:8081/nexus/content/groups/public</url>
					<snapshots>
						<enabled>true</enabled>
						<checksumPolicy>warn</checksumPolicy>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles> 
<!-- <proxies /> 
	 <activeProfiles /> -->
</settings>