<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meizu.data.mybatis.BaseDao">
	<!-- 全局环境下起作用，任何其他的mapper文件都会影响这个配置文件，因为这个文件是通过SqlSessionTemplate来操作，没有通过spring的第二次封装，所有需要在selectList等方法的第一个参数上指定namespace，否则就会重名冲突 -->
    <!-- 新增 -->
    <insert id="create" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        ${sql}
    </insert>
    <!-- 批量新增 -->
    <insert id="createOfBatch" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        ${value}
    </insert>
    <!-- 删除：-批量删除 -根据ID删除-根据where条件删除-->
    <delete id="removeBy">
    	<![CDATA[${sql} ]]>
    	<![CDATA[ where ]]>
        <if test="whereList.size lt 1">error</if>
       	<foreach collection="whereList" index="index" item="item" open="" separator=" " close="">
       		<if test="whereList.size == 1">${item.key} ${item.operator} 
	       		<choose>
	       			<when test="item.value.class.isArray()">
	       				<foreach collection="item.value" index="subIndex" item="subItem" open="(" separator="," close=")">
	       				#{subItem}
	       				</foreach>
	       			</when>
	       			<otherwise>
	       				#{item.value}
	       			</otherwise>
	       		</choose>
       		</if>
       		<if test="whereList.size gt 1">
       			<if test="index == 1"> ${linkType} </if>
       			(${item.key} ${item.operator} 
       			<foreach collection="item.value" index="indexSub" item="itemSub" open="(" separator="," close=")">
       				#{itemSub}
       			</foreach>
       			) 
       		</if>
       	</foreach>
    </delete>
    <!-- 批量删除 -->
    <delete id="removeAll">
        ${value}
    </delete>
    <!-- 更新 -->
    <update id="modify">${value}</update>
    <select id="findBy" resultType="hashmap">
        ${value}
    </select>
    <!-- 根据ID查询单个 -->
    <select id="findById" resultType="hashmap">
        ${selectField} FROM ${table} WHERE ${where} = #{val}
    </select>
    <select id="findByWhere" resultType="hashmap">
       <![CDATA[${sql} ]]>
       <![CDATA[ where ]]>
        <if test="whereList.size lt 1">error</if>
       	<foreach collection="whereList" index="index" item="item" open="" separator=" " close="">
       		<if test="whereList.size == 1">${item.key} ${item.operator} 
	       		<choose>
	       			<when test="item.value.class.isArray()">
	       				<foreach collection="item.value" index="subIndex" item="subItem" open="(" separator="," close=")">
	       				#{subItem}
	       				</foreach>
	       			</when>
	       			<otherwise>
	       				#{item.value}
	       			</otherwise>
	       		</choose>
       		</if>
       		<if test="whereList.size gt 1">
       			<if test="index == 1"> ${linkType} </if>
       			(${item.key} ${item.operator} 
       			<foreach collection="item.value" index="indexSub" item="itemSub" open="(" separator="," close=")">
       				#{itemSub}
       			</foreach>
       			) 
       		</if>
       	</foreach>
    </select>
    <!-- 查询所有 -->
    <select id="findAll" resultType="hashmap">
        ${value}
    </select>
    <!-- 查询总数量 -->
    <select id="findAllCount" resultType="Integer">
        ${value}
    </select>
    <!-- 获取下一个序列的值 -->
    <select id="fetchSeqNextval" resultType="Long" flushCache="true">
        ${value}
    </select>
    <!-- 分页查询 -->
	<select id="findByPage"  resultType="hashmap">
		<![CDATA[${sql} ]]>
		<where>
       	<!-- foreach 代码可重用，需抽取 TODO -->
       	<foreach collection="whereList" index="index" item="item" open="" separator=" " close="">
       		<if test="whereList.size == 1">${item.key} ${item.operator} 
	       		<choose>
	       			<when test="item.value.class.isArray()">
	       				<foreach collection="item.value" index="subIndex" item="subItem" open="(" separator="," close=")">
	       				#{subItem}
	       				</foreach>
	       			</when>
	       			<otherwise>
	       				#{item.value}
	       			</otherwise>
	       		</choose>
       		</if>
       		<if test="whereList.size gt 1">
       			<if test="index > 0"> ${linkType} </if>
       			${item.key} ${item.operator} 
       			<choose>
	       			<when test="item.value.class.isArray()">
	       				<foreach collection="item.value" index="subIndex" item="subItem" open="(" separator="," close=")">
	       				#{subItem}
	       				</foreach>
	       			</when>
	       			<otherwise>
	       				#{item.value}
	       			</otherwise>
	       		</choose>
       		</if>
       	</foreach>
		</where> 
		<if test="orderBy != null and orderBy != ''">
			ORDER BY ${orderBy} 
		</if>
		<if test="limit != null and limit != ''">
			  <![CDATA[ limit ]]> #{page.start},#{page.pageSize}  
		</if>
		 
	</select>
	<!-- 分页查询count统计 -->
	<select id="count"  resultType="Integer">
		<![CDATA[${sql} ]]>
		<where>
       	<!-- foreach 代码可重用，需抽取 TODO -->
       	<foreach collection="whereList" index="index" item="item" open="" separator=" " close="">
       		<if test="whereList.size == 1">${item.key} ${item.operator} 
	       		<choose>
	       			<when test="item.value.class.isArray()">
	       				<foreach collection="item.value" index="subIndex" item="subItem" open="(" separator="," close=")">
	       				#{subItem}
	       				</foreach>
	       			</when>
	       			<otherwise>
	       				#{item.value}
	       			</otherwise>
	       		</choose>
       		</if>
       		<if test="whereList.size gt 1">
       			<if test="index > 0"> ${linkType} </if>
       			${item.key} ${item.operator} 
       			<choose>
	       			<when test="item.value.class.isArray()">
	       				<foreach collection="item.value" index="subIndex" item="subItem" open="(" separator="," close=")">
	       				#{subItem}
	       				</foreach>
	       			</when>
	       			<otherwise>
	       				#{item.value}
	       			</otherwise>
	       		</choose>
       		</if>
       	</foreach>
		</where> 
		 
	</select>
</mapper>